[core]
        longpaths = true
[winUpdater]
	recentlySeenVersion = 2.25.0.windows.1
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Alex 'Ript' Malyshev
	email = alexript@gmail.com
	signingkey = AE3D84AB2019CC34
[commit]
	gpgsign = true
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[safe]
    directory = *