*~
.emacs.d/url/cache
personal.el
.emacs.d/ac-comphist.dat
\#*\#
/.cache
/.wget-hsts
/.ssh
/vimfiles/.netrwhist
/.gnupg
/.subversion
/_viminfo
/.viminfo
/_vimtags
/.vimtags
/vimwiki
.*.swp
.twitvim.token
/.config
/.bash_history
/.sonic-pi
/.mx
/.openshot_qt
/.git-for-windows-updater